$bergundy: #800020;

@import './components/helpful.scss';
@import './components/navbar.scss';
@import './components/home.scss';
@import './components/about.scss';
@import './components/projects.scss';
@import './components/experience.scss';
@import './components/interests.scss';
@import './components/contact.scss';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site-wrapper {
  // background-color: beige;
  // height: 200vh;
  background-color: #f6f3e7;
}

.section-head {
  font-family: 'Bebas Neue', cursive;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
  margin: 8% auto !important;
  width: 80% !important;
  color: #800020 !important;
  opacity: 1 !important;
  border-top: 2px solid !important;
}

