@import './components/navbar.scss';
@import './components/home.scss';
@import './components/helpful.scss';

* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
}

.site-wrapper {
  // background-color: beige;
  height: 200vh;
  background-color: #f6f3e7;
}

$bergundy: #800020;