$bergundy: #800020;

@import './components/helpful.scss';
@import './components/navbar.scss';
@import './components/home.scss';
@import './components/about.scss';
@import './components/projects.scss';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site-wrapper {
  // background-color: beige;
  height: 200vh;
  background-color: #f6f3e7;
}

