#experience {
    height: 100vh;
    .experience-content {
        width: 70%;
        max-width: 1157px;
        margin: 0 auto;
        margin-top: 10%;
        .experience-head {
            padding-top: 2%;
        }
        .accordion {
            width: 80%;
            margin-top: 8%;
            .card {
                background-color: #f6f3e7;
                border: none;
                margin-bottom: 4%;
                .custom-acc-header {
                    display: flex;
                    justify-content: space-between;
                    font-family: 'Bebas Neue', cursive;
                    .plusminus {
                        max-width: 30px;
                    }
                }
                .accordion-collapse {
                    font-family: 'Gruppo', cursive;
                }
                .exp-hr {
                    margin: 5% auto !important;
                }
            }
        }
    }
}