#experience {
    height: 100vh;
    .experience-content {
        width: 70%;
        max-width: 1157px;
        margin: 0 auto;
        margin-top: 10%;
        .experience-head {
            padding-top: 2%;
        }
        .exp-accordion {
            .accordion-item {
                background-color: #f6f3e7;
            }
            .accordion-header {
                .accordion-button {
                    background-color: #f6f3e7;
                    color: $bergundy;
                }
            }
        }
    }
}