#experience {
    height: 100vh;
    .experience-content {
        width: 70%;
        max-width: 1157px;
        margin: 0 auto;
        margin-top: 10%;
        .experience-head {
            padding-top: 2%;
        }
        .accordion {
            width: 80%;
            margin-top: 8%;
            // background-color: white;
            // border: 3px solid $bergundy;
            // border-radius: 8px;
            // padding: 2%;
            .card {
                background-color: #f6f3e7;
                // background-color: white;
                border: none;
                margin-bottom: 4%;
                .custom-acc-header {
                    display: flex;
                    justify-content: space-between;
                    // font-family: 'Bebas Neue', cursive;
                    font-family: 'Gruppo', cursive;
                    font-size: 1.4em;
                    font-weight: 700;
                    .job-title {
                        font-style: italic;
                    }
                    .plusminus-container {
                        height: 27px;
                        .plusminus {
                            width: auto;
                            height: 100%;
                            aspect-ratio: 1;
                            object-fit: cover;
                        }
                    }
                }
                .accordion-collapse {
                    font-family: 'Gruppo', cursive;
                }
                .exp-hr {
                    margin: 1% auto !important;
                    width: 60% !important;
                }
            }
        }
    }
}