@keyframes appear {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes moveup {
    from {top: 25px;}
    to {top: 0px;}
}

@-webkit-keyframes moveup {
    from {top: 25px;}
    to {top: 0px;}
}

@keyframes updown {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 15px, 0);
    }
}

@-webkit-keyframes updown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 15px, 0);
    }
}

.home {
    height: 90vh;
    .greeting {
        flex-direction: column;
        height: 70%;
        .Typewriter {
            font-family: 'Gruppo', cursive;
            font-weight: 900;
            font-size: 400%;
            letter-spacing: 2px;
            color: $bergundy;
            // margin-left: 1%;
        }
        .se-wrapper {
            opacity: 1;
            // animation: appear 0.1s ease-out 2.35s forwards;
            position: relative;
            -webkit-animation: moveup 0.5s ease-out 2.5s forwards;
            animation: moveup 0.5s ease-out 2.5s forwards;
            h2 {
                font-family: 'Bebas Neue', cursive;
                margin-top: 1px;
                opacity: 0;
                letter-spacing: 1.5px;
                animation: appear 0.1s ease-out 2.5s forwards;
                -webkit-animation: appear 0.1s ease-out 2.5s forwards;
            }
        }
    }
    .scroll-wrapper {
        opacity: 1;
        position: relative;
        animation: updown 0.5s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
        animation-iteration-count: infinite;
        -webkit-animation: updown 0.5s;
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: cubic-bezier(
        .5, 0.05, 1, .5);
        -webkit-animation-iteration-count: infinite;
        width: 5%;
        margin: 0 auto;
        .scroll-link {
        }
        .scroll-btn {
            display: block;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            opacity: 0;
            width: 100%;
            animation: appear 0.1s ease-out 2.5s forwards;
            -webkit-animation: appear 0.1s ease-out 2.5s forwards;
            cursor: pointer;
        }
    }
}