#projects {
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
    .projects-content {
        max-width: 70%;
        margin: 0 auto;
        margin-top: 10%;
        .projects-head {
            text-align: center;
            padding-top: 2%;
        }
        .projects {
            margin-top: 4%;
            .project-div {
                display: flex;
                justify-content: space-between;
                margin-top: 15%;
                .proj-img-link {
                    max-width: 45%;
                    img {
                        max-width: 100%;
                        border: 3px solid $bergundy;
                        border-radius: 8px;
                        transition: transform .2s;
                    }
                    img:hover {
                        transform: scale(1.01);
                    }
                }
                .project-info-right {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-left: 10%;
                    .proj-info-header {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        .proj-github {
                            width: 30px;
                            img {
                                width: 100%;
                            }
                            img:hover {
                                opacity: 0.7;
                            }
                        }
                        .project-name {
                            // margin: 0;
                            margin-left: 7px;
                        }
                    }
                    p {
                        text-align: end;
                        font-size: 1.2rem;
                    }
                }
                .project-info-left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-right: 10%;
                    .proj-info-header {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        .proj-github {
                            width: 30px;
                            img {
                                width: 100%;
                            }
                            img:hover {
                                opacity: 0.7;
                            }
                        }
                        .project-name {
                            // margin: 0;
                            margin-right: 7px;
                        }
                    }
                    p {
                        text-align: start;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

.project-div-top {
    // margin-top: 20%;
}

.proj-descrip {
    font-family: 'Gruppo', cursive;
}

